@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, developer!</h1>

<p>This example shows how to have a Blazor app call both Graph and your own Downstream API</p>

<p>This is based off the out of the box Blazor Web App template, which has been modified to enable users to sign in with a work or school account, or a personal Microsoft Account</p>

<p>The familiar weather forecast sample page has been updated so that it displays information from the downstream API, rather than simulating the API call, there is also a basic Graph call to retrieve some user information to show both APIs being called in the same app.</p>
